@import './form_color.css';

body {
  background-color: #eeeeee;
}

.truncate  {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.card-title { 
  text-shadow: 1px 1px 1px #000;
}

.match-cover {
  min-height: 200px;
  max-height: 200px;
}

@media only screen and (min-width: 800px) {
  .wrapper {
    padding: 0% 5%;
  }
}

th {
  color: white;
}
.club {
  width: 70%;
  overflow: hidden;
}

.progress .indeterminate {
  background-color: #f44336;
}